.companyComponent {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Ensure no gap between child elements */
    /* padding: 0;  */
    margin: 0 auto; 
    width: 100%; /* Adjust width if necessary */
    /* background-color: black; */
    
    
}

.companyComponentHeading {
    margin-bottom: 5px; /* Reduce space below heading */
    padding: 0;
    text-align: left;
    width: 40%;
}



.companyComponentHeading h1 {
    margin-bottom: 5px; /* Reduce space below h1 */
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    color: white;
    margin-left: 16px;
    /* margin-top: -570px; */
    top: 20rem;
}

.companyPhoto{
    color: white;
}

.companyPhoto p{
    text-align: center;
    color: #6e6e73;
}

.companyPhoto h1{
    color: black;
    font-weight: 700;
    font-size: 56px;
}

.companyPhoto h1 span{
    color: red;
}

.companyPhoto img{
    width: 24rem;
    height: 32rem;
    /* margin-left: 8rem; */
    margin-top: 8rem;
}

/* *************************** */
.chipsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-self: center;
    /* max-width: 600px; */
    margin-top: 8px;
    width: fit-content;
}

.chip {
    background-color: white;
    color: #6e6e73;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #555;
}

.chip:nth-child(7), .chip:nth-child(8) {
    grid-column: span 1;
    justify-self: center;
}

/* *************************** */
.showMore {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.showMore #my-tooltip0{
    background-color: #121212;
    color: white;
    width: 350px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.toolkit-card h2 {
    margin: 0;
    font-size: 20px;
}
.toolkit-card p {
    font-size: 14px;
    opacity: 0.8;
}
.toolkit-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}
/* ************** */

.showMore {
    width: fit-content;
    align-self: center;
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    margin-left: 24px;
}

.showMore:hover {
    background-color: #333; /* Darker on hover */
}

/* Tooltip Styling */
#my-tooltip0 {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-out;
    
}

/* Tooltip Arrow */
[data-tooltip-id]:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.9);
    transform: rotate(45deg);
    top: 100%;
    left: 50%;
    margin-left: -4px;
}
